@charset "UTF-8";
.link {
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socnet-list__icon--member, .client-list__logo, .modal__icon {
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socnet-list__button--member, .socnet-list__button--footer {
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-list__item, .subscribe-content__input, .form__input, .form__textarea {
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project__link {
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project__info-area {
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav, .hero__button, .features-set__icon-space, .member-card__content, .client-list__link, .subscribe-content__button, .modal, .modal__button, .form, .form__icon, .project__info-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* утилиты */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 100vw;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section__title {
  margin-bottom: 30px;
  margin-top: 0;
  text-align: center;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.17;
  color: #212121;
}

.section__title--visualy-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.link {
  text-decoration: none;
}

.link:hover, .link:focus {
  color: #2196f3;
}

.header {
  border-bottom: 1px solid #ececec;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .main-nav {
    margin-left: 93px;
  }
}

@media screen and (min-width: 768px) {
  .main-nav__element:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (min-width: 768px) {
  .main-nav__link {
    color: #212121;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .main-nav__link-current {
    color: #2196f3;
  }
}

@media screen and (min-width: 768px) {
  .main-nav__element-current::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
  }
}

.main-contacts {
  display: none;
}

@media screen and (min-width: 768px) {
  .main-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .main-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .main-contacts__element:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .main-contacts__element:not(:last-child) {
    margin-right: 50px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .main-contacts__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #757575;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 768px) {
  .main-contacts__link:hover, .main-contacts__link:focus {
    color: #2196f3;
  }
}

@media screen and (min-width: 768px) {
  .main-contacts__icon {
    margin-right: 10px;
    fill: #757575;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 768px) {
  .main-contacts__link:hover .main-contacts__icon,
  .main-contacts__link:focus .main-contacts__icon {
    fill: #2196f3;
  }
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.16;
}

.logo--blue {
  color: #2196f3;
}

.logo--black {
  color: #000000;
}

.logo--white {
  color: #ffffff;
}

.logo-header {
  padding: 16px 0 16px 0;
}

.hero {
  padding: 118px 0;
  text-align: center;
}

.hero__title {
  margin-top: 0px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero__button {
  margin: auto;
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
}

.hero-section {
  padding: 0 0;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/img.hero.mb.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img.hero.mb.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-section {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/img.hero.mb2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img.hero.mb2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero-section {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/img.hero.tab.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img.hero.tab.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-section {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/img.hero.tab2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img.hero.tab2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero-section {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/img.hero1.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img.hero1.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-section {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/img.hero2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img.hero2x.jpg");
  }
}

@media screen and (min-width: 678px) {
  .features-set {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.features-set__title {
  margin-bottom: 10px;
  margin-top: 30px;
  font-weight: bold;
  font-size: 14px;
  line-height: 0.87;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #212121;
}

@media screen and (min-width: 768px) {
  .features-set__title {
    text-align: left;
  }
}

.features-set__item {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .features-set__item {
    -ms-flex-preferred-size: calc(100% / 2 - 15px);
        flex-basis: calc(100% / 2 - 15px);
    margin-left: 15px;
    margin-top: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .features-set__item {
    -ms-flex-preferred-size: calc(100% / 4 - 15px);
        flex-basis: calc(100% / 4 - 15px);
  }
}

.features-set__text {
  line-height: 1.71;
}

.features-set__icon-space {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.work-section {
  padding-top: 0;
  display: none;
}

@media screen and (min-width: 1200px) {
  .work-section {
    display: block;
  }
}

.work-section__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work-section__item {
  margin-right: 30px;
  position: relative;
}

.work-section__item:last-child {
  margin-right: 0;
}

.work-section__type-space {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.work-section__type {
  margin: 27px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.team-section {
  background-color: #f5f4fa;
}

@media screen and (min-width: 768px) {
  .member-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -15px;
    margin-top: -15px;
  }
}

.member-card {
  margin-bottom: 30px;
  width: 100%;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .member-card {
    -ms-flex-preferred-size: calc(100% / 2 - 15px);
        flex-basis: calc(100% / 2 - 15px);
    margin-left: 15px;
    margin-top: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .member-card {
    -ms-flex-preferred-size: calc(100% / 4 - 15px);
        flex-basis: calc(100% / 4 - 15px);
  }
}

.member-card__content {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 0 24px 0;
}

.member-card__name {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: #212121;
}

.member-card__occupation {
  text-align: center;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.19;
}

.socnet-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 0;
}

.socnet-list__icon {
  margin: 12px;
}

.socnet-list__icon--member {
  fill: #afb1b8;
}

.socnet-list__button {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  border-radius: 50%;
}

.socnet-list__button:last-child {
  margin-right: 0;
}

.socnet-list__button:hover, .socnet-list__button:focus {
  width: 44px;
  height: 44px;
  background-color: #2196f3;
  border-radius: 50%;
}

.socnet-list__button--member:hover .socnet-list__icon--member,
.socnet-list__button--member:focus .socnet-list__icon--member {
  fill: #ffffff;
}

.socnet-list__icon--footer {
  fill: #ffffff;
}

.socnet-list__button--footer {
  background-color: rgba(255, 255, 255, 0.1);
}

.socnet-list__button--footer:hover, .socnet-list__button--footer:focus {
  background-color: #2196f3;
}

.client-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-top: -15px;
}

.client-list__item {
  -ms-flex-preferred-size: calc(100% / 2 - 15px);
      flex-basis: calc(100% / 2 - 15px);
  margin-left: 15px;
  margin-top: 15px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .client-list__item {
    -ms-flex-preferred-size: calc(100% / 3 - 15px);
        flex-basis: calc(100% / 3 - 15px);
    margin-left: 15px;
    margin-top: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .client-list__item {
    -ms-flex-preferred-size: calc(100% / 6 - 15px);
        flex-basis: calc(100% / 6 - 15px);
  }
}

.client-list__link {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 92px;
}

.client-list__logo {
  fill: #afb1b8;
}

.client-list__link:hover .client-list__logo {
  fill: #2196f3;
}

.client-list__link:focus .client-list__logo {
  fill: #2196f3;
}

.client-list__item:hover, .client-list__item:focus {
  border: 1px solid #2196f3;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

@media screen and (min-width: 1200px) {
  .footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.logo-footer {
  text-align: center;
  display: block;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .logo-footer {
    text-align: left;
  }
}

.address {
  text-align: center;
  margin-bottom: 8px;
  color: #ffffff;
  font-style: normal;
}

@media screen and (min-width: 1200px) {
  .address {
    text-align: left;
  }
}

.footer-contacts {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer-contacts {
    text-align: left;
  }
}

.footer-contacts__link {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.7;
}

@media screen and (min-width: 1200px) {
  .footer-section {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.footer-section-contacts {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer-section-contacts {
    margin-bottom: 0;
  }
}

.footer-section-socnet {
  width: 206px;
  margin: auto;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer-section-socnet {
    margin: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer-section-socnet {
    margin-left: 70px;
  }
}

@media screen and (min-width: 768px) {
  .footer-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.footer-title {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .footer-title {
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .subscribe-form {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-form {
    width: 570px;
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.subscribe-content__input {
  padding: 15px 16px;
  margin-bottom: 20px;
  height: 50px;
  width: 100%;
  border: 1px solid #ffffff4d;
  border-radius: 4px;
  background-color: #2f303a;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .subscribe-content__input {
    margin: 0;
  }
}

.subscribe-content__button {
  padding: 10px 28px 10px 29px;
  margin: auto;
  border: none;
  border-radius: 4px;
  background-color: #2196f3;
  color: #ffffff;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

@media screen and (min-width: 1200px) {
  .subscribe-content__button {
    margin-left: 12px;
  }
}

.subscribe-content__icon {
  margin-left: 10px;
  fill: #ffffff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: scale(0.9) translate(-50%, -50%);
          transform: scale(0.9) translate(-50%, -50%);
}

.modal {
  position: absolute;
  padding: 50px 40px 30px 40px;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 41px;
  margin-bottom: 104px;
  min-height: 609px;
  background-color: #ffffff;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 548px) {
  .modal {
    -webkit-transform: scale(1) translate(-50%, -50%);
            transform: scale(1) translate(-50%, -50%);
    top: 50%;
    left: 50%;
    margin: 0;
    min-width: 450px;
    min-height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: solid 1px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.modal__button:hover .modal__icon,
.modal__button:focus .modal__icon {
  fill: #2196f3;
}

.modal__icon {
  fill: #000000;
}

.form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}

.form__group {
  width: 100%;
  height: 100%;
}

.form__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.form__line {
  position: relative;
}

.form__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  fill: #212121;
}

.form__input {
  width: 100%;
  padding: 11px 42px;
  margin: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form__input:focus {
  border-color: #2196f3;
  outline: none;
}

.form__input:hover {
  cursor: pointer;
}

.form__input:focus + .form__icon {
  fill: #2196f3;
}

.form__textarea:focus {
  border-color: #2196f3;
  outline: none;
}

.form__textarea:hover {
  cursor: pointer;
}

.form__label {
  margin-bottom: 4px;
}

.form__header {
  margin-top: 0;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: #212121;
}

.form__textarea::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__textarea::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__textarea {
  margin-bottom: -10px;
}

.form__agreement-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: -10px;
  margin-top: 20px;
}

.form__checkbox-icon {
  display: inline-block;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.form__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.form__checkbox:checked + .form__checkbox-icon {
  background-color: #2196f3;
  background-image: url("../images/icon-checked.svg");
  background-size: contain;
  background-origin: border-box;
  border-color: #2196f3;
  background-repeat: no-repeat;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.form__text {
  margin: 0;
}

.form__agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  line-height: 1.71;
}

@media screen and (min-width: 1200px) {
  .form__agreement {
    font-size: 14px;
    line-height: 1.71;
  }
}

@media screen and (max-width: 475px) {
  .form__agreement {
    display: inline;
  }
}

.form__conditions {
  color: #2196f3;
}

.form__textarea {
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}

.form__submit {
  margin-top: 30px;
  padding: 10px 55px;
  border-radius: 4px;
  border: none;
  width: 200px;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px 0px #00000026;
          box-shadow: 0px 4px 4px 0px #00000026;
  font-weight: 700;
  line-height: 1.8;
}

.form__submit:hover, .form__submit:focus {
  cursor: pointer;
}

.project-menu__button-set {
  margin-bottom: -15px;
}

.project-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .project-menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.project-menu__item {
  margin-right: 8px;
  margin-bottom: 15px;
}

.project-menu__button {
  text-align: center;
  border-radius: 4px;
  border: 0;
  padding: 6px 22px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  background-color: #f5f4fa;
  color: #212121;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-menu__button:hover, .project-menu__button:focus {
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-list {
  margin: 0;
  padding-top: 40px;
}

@media screen and (min-width: 768px) {
  .project-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -15px;
    margin-top: -15px;
  }
}

.project {
  width: 100%;
  border: 1px solid #eeeeee;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .project {
    -ms-flex-preferred-size: calc(100% / 2 - 15px);
        flex-basis: calc(100% / 2 - 15px);
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .project {
    -ms-flex-preferred-size: calc(100% / 3 - 15px);
        flex-basis: calc(100% / 3 - 15px);
    margin-left: 15px;
    margin-top: 15px;
  }
}

@media screen and (min-width: 480) {
  .project:last-child {
    margin-bottom: 0;
  }
}

.project__link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

.project__link:hover, .project__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__link:hover .project__info-area,
.project__link:focus .project__info-area {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project__overlay {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.project__info-area {
  position: absolute;
  bottom: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  padding: 70px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

@media screen and (min-width: 768px) {
  .project__info-area {
    padding: 49px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .project__info-area {
    padding: 63px 24px;
  }
}

.project__info {
  margin: 0;
  font-size: 18px;
  line-height: 1.55;
  color: #ffffff;
}

@media screen and (min-width: 320px) {
  .project__info {
    font-size: 14px;
  }
}

.project__meta {
  padding: 20px 24px;
}

.project__name {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.project__type {
  font-size: 16px;
  line-height: 1.9;
  margin: 0;
  color: #757575;
}

.mobile-menu {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px 15px 48px 40px;
  z-index: 1;
  background-color: #ffffff;
}

.mobile-menu__down {
  position: absolute;
  bottom: 0;
}

.mobile-menu.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.menu-button__open {
  border: none;
  background-color: transparent;
}

.menu-button__open:hover, .menu-button__open:focus {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .menu-button__open {
    display: none;
  }
}

.menu-button__close {
  display: block;
  margin-left: auto;
  padding: 0;
  border: none;
  width: 40px;
  height: 40px;
  background-color: transparent;
}

.menu-button__close-sign {
  fill: #212121;
}

.menu-button__close:hover .menu-button__close-sign,
.menu-button__close:focus .menu-button__close-sign {
  fill: #2196f3;
}

.mobile-nav__element {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.8;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 479px) {
  .mobile-nav__element {
    font-size: 20px;
  }
}

.mobile-nav__element:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-nav__link {
  color: #212121;
}

.mobile-nav__link-current {
  color: #2196f3;
}

.mobile-contacts {
  margin-bottom: 64px;
}

.mobile-contacts__number {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 479px) {
  .mobile-contacts__number {
    font-size: 26px;
  }
}

.mobile-contacts__number-link {
  color: #2196f3;
}

.mobile-contacts__email {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 479px) {
  .mobile-contacts__email {
    font-size: 16px;
  }
}

.mobile-contacts__email-link {
  color: #757575;
}

.mobile-socnet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  list-style: none;
}

.mobile-socnet__element:not(:last-child) {
  padding-right: 10px;
  border-right: solid 1px rgba(21, 21, 21, 0.2);
}

.mobile-socnet__element:not(:first-child) {
  padding-left: 10px;
}

.mobile-socnet__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #2196f3;
}

@media screen and (max-width: 479px) {
  .mobile-socnet__link {
    font-size: 10px;
  }
}
/*# sourceMappingURL=main.css.map */