.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $heroBackgroudColor;

  &-content {
    @media screen and (min-width: 1200px) {
      display: flex;
      align-items: baseline;
    }
  }
}

.logo-footer {
  text-align: center;

  display: block;
  margin-bottom: 20px;

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.address {
  text-align: center;
  margin-bottom: 8px;

  color: $primaryBackgroundColor;
  font-style: normal;

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.footer-contacts {
  text-align: center;

  @media screen and (min-width: 1200px) {
    text-align: left;
  }

  &__link {
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.7;
  }
}

.footer-section {
  @media screen and (min-width: 1200px) {
    justify-content: space-between;
    align-items: baseline;
  }

  &-contacts {
    margin-bottom: 60px;

    @media screen and (min-width: 1200px) {
      margin-bottom: 0;
    }
  }

  &-socnet {
    width: 206px;
    margin: auto;
    margin-bottom: 60px;

    @media screen and (min-width: 768px) {
      margin: 0;
    }

    @media screen and (min-width: 1200px) {
      margin-left: 70px;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-around;
  }
}

.footer-title {
  margin-top: 0;
  margin-bottom: 20px;

  text-align: center;

  font-weight: bold;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $primaryBackgroundColor;

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.subscribe-form {
  @media screen and (min-width: 768px) {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 1200px) {
    width: 570px;
    margin-right: 0;
  }
}

.subscribe-content {
  @media screen and (min-width: 1200px) {
    display: flex;
  }

  &__input {
    padding: 15px 16px;
    margin-bottom: 20px;
    height: 50px;
    width: 100%;

    border: 1px solid $inputFooter;
    border-radius: 4px;

    background-color: $heroBackgroudColor;
    color: $primaryBackgroundColor;

    @extend %transition-border;

    @media screen and (min-width: 1200px) {
      margin: 0;
    }
  }

  &__button {
    @extend %flex-center;

    padding: 10px 28px 10px 29px;
    margin: auto;
    border: none;
    border-radius: 4px;

    background-color: $accentTextColor;

    color: $primaryBackgroundColor;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.06em;

    @media screen and (min-width: 1200px) {
      margin-left: 12px;
    }
  }

  &__icon {
    margin-left: 10px;
    fill: $primaryBackgroundColor;
  }
}

///

// .footer {
//   padding-top: 60px;
//   padding-bottom: 60px;

//   background-color: $heroBackgroudColor;
//   text-align: left;
// }
// .footer-content {
//   display: flex;
//   text-align: left;

//   justify-content: space-between;
//   align-items: baseline;
// }

// .logo-footer {
//   display: block;
//   margin-bottom: 20px;
// }

// .address {
//   margin-bottom: 9px;
//   color: $primaryBackgroundColor;
//   font-style: normal;
// }

// .footer-contacts {
//   .footer-contacts__link {
//     color: rgba(255, 255, 255, 0.6);
//     line-height: 1.7;
//   }

//   &__element {
//     margin-bottom: 9px;
//   }

//   &__element:last-child {
//     margin-bottom: 0;
//   }

//   &__element:last-child {
//     margin-bottom: 0;
//   }
// }

// .socnet-set {
//   display: flex;
//   justify-content: flex-end;
// }

// .footer-title {
//   margin-top: 0;
//   margin-bottom: 20px;

//   font-weight: bold;
//   font-size: 14px;
//   line-height: 1, 14;
//   letter-spacing: 0.03em;
//   text-transform: uppercase;

//   color: $primaryBackgroundColor;
// }

// .subscribe-form {
//   margin-left: 93px;
// }

// .subscribe-content {
//   display: flex;

//   &__input {
//     padding: 11px 12px;
//     margin: 0;
//     height: 50px;
//     width: 358px;

//     border: 1px solid $inputFooter;
//     border-radius: 4px;

//     background-color: $heroBackgroudColor;
//     color: $primaryBackgroundColor;

//     @extend %transition-border;
//   }

//   &__button {
//     @extend %flex-center;

//     padding: 10px 28px 10px 29px;
//     margin-left: 12px;
//     border: none;
//     border-radius: 4px;

//     background-color: $accentTextColor;

//     color: $primaryBackgroundColor;
//     font-weight: 700;
//     line-height: 1.8;
//     letter-spacing: 0.06em;
//   }

//   &__icon {
//     margin-left: 10px;
//     fill: $primaryBackgroundColor;
//   }
// }
