.logo {
  font-family: $secondaryFont;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.16;

  &--blue {
    color: $accentTextColor;
  }
  &--black {
    color: $anotherTextColor;
  }
  &--white {
    color: $primaryBackgroundColor;
  }
}
.logo-header {
  padding: 16px 0 16px 0;
}

// .logo-footer {
//   display: block;
//   margin-bottom: 20px;
// }
