$primaryTextColor: #757575;
$secondaryTextColor: #212121;
$accentTextColor: #2196f3;
$anotherTextColor: #000000;
$primaryBackgroundColor: #ffffff;
$secondaryBackgroundColor: #f5f4fa;
$heroBackgroudColor: #2f303a;
$iconsMainColor: #afb1b8;
$headerBorger: #ececec;
$projectBorder: #eeeeee;
$inputFooter: #ffffff4d;
$footerContacts: rgba(255, 255, 255, 0.6);
$modalButtonColor: rgba(0, 0, 0, 0.1);
$socnetbackground: rgba(255, 255, 255, 0.1);
$backdropColor: rgba(0, 0, 0, 0.2);
$inputModalColor: rgba(33, 33, 33, 0.2);
$placeholderColor: rgba(117, 117, 117, 0.5);
$checkboxShadow: rgba(0, 0, 0, 0.25);
$accentBackground: rgba(33, 150, 243, 0.9);
$mobileMenuBorder: rgba(21, 21, 21, 0.2);

$mainFont: Roboto, sans-serif;
$secondaryFont: Raleway, sans-serif;
